.game-tabs {
    background: rgb(63 81 181 / 61%);
    color: #fff;
    text-align: left;
    padding: 10px;
}

.game-screenshot {
    margin-top: 5px;
    width: calc(50% - 10px);
}

.game-screenshot:nth-child(even) {
    margin-left: 10px;
}

.game-trailer {
    width: 100%;
    margin: 20px 0;
}
